/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d25a1f4f-4d18-4b4d-bc95-aea571e6a650");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****
	TIPOGRAFIA
****/
@font-face {
  font-family: "Neue Haas Unica W01 UltraLight";
  src: url("../fonts/dfc4afbf-ccfb-494f-9ee0-8bc445d7bea7.eot?#iefix");
  src: url("../fonts/dfc4afbf-ccfb-494f-9ee0-8bc445d7bea7.eot?#iefix") format("eot"), url("../fonts/c361e26e-4526-46d8-a9f6-c74877ea3bce.woff2") format("woff2"), url("../fonts/ab956d19-7e42-4da4-b0be-7e64d554b081.woff") format("woff"), url("../fonts/eeeae646-c964-4dbb-9269-da8dc83b40f7.ttf") format("truetype"), url("../fonts/3c611b98-8e5e-4813-b686-3e7417601af0.svg#3c611b98-8e5e-4813-b686-3e7417601af0") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Thin";
  src: url("../fonts/ba48202e-b3fb-4d2e-b782-6e50f7f710b9.eot?#iefix");
  src: url("../fonts/ba48202e-b3fb-4d2e-b782-6e50f7f710b9.eot?#iefix") format("eot"), url("../fonts/89cc27d4-e9bd-43de-ab56-cc7015e1ff7d.woff2") format("woff2"), url("../fonts/ad1cd90c-7793-4c0a-a7ce-4a6122b0e265.woff") format("woff"), url("../fonts/4c5113af-3402-4eb0-8a1e-59b38d4c4dc6.ttf") format("truetype"), url("../fonts/cdab2db0-1eb1-4654-ad89-5a64b95eab50.svg#cdab2db0-1eb1-4654-ad89-5a64b95eab50") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Light";
  src: url("../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix");
  src: url("../fonts/001e59a9-197e-4fb1-9e72-cef21b186c03.eot?#iefix") format("eot"), url("../fonts/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2") format("woff2"), url("../fonts/b681571f-aab2-4935-a99c-6ee1063ce638.woff") format("woff"), url("../fonts/1d88a9b0-aac0-40df-baf7-a630cd19cc5d.ttf") format("truetype"), url("../fonts/40a247b1-2840-4953-b24b-8a82ace0673b.svg#40a247b1-2840-4953-b24b-8a82ace0673b") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Regular";
  src: url("../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix");
  src: url("../fonts/0ebd7648-5847-404a-a88a-28a353c0921c.eot?#iefix") format("eot"), url("../fonts/e0d80810-f7e3-4fea-8c57-ef8116f0465d.woff2") format("woff2"), url("../fonts/27645c8a-608b-4abf-a2f1-c4407b576723.woff") format("woff"), url("../fonts/bd3b3439-8eff-445c-80ed-87064138ca7d.ttf") format("truetype"), url("../fonts/bf3731ee-64fe-49c1-b8a6-a4edbff3c74a.svg#bf3731ee-64fe-49c1-b8a6-a4edbff3c74a") format("svg"); }

@font-face {
  font-family: "Neue Haas Unica W01 Medium It";
  src: url("../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix");
  src: url("../fonts/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix") format("eot"), url("../fonts/2418a824-3af2-42d7-a62e-f7a77cf487d1.woff2") format("woff2"), url("../fonts/86b76db5-9343-473a-a106-60683cec7626.woff") format("woff"), url("../fonts/2b883332-01dc-4b55-ac6a-d24c84f0e334.ttf") format("truetype"), url("../fonts/7de50dd1-4a4e-47bf-bb5d-33bf1450649a.svg#7de50dd1-4a4e-47bf-bb5d-33bf1450649a") format("svg"); }

/*******************
********************
	Media queries
		EJEMPLO
.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}

*******************/
/************************
**************************
	Transitions
	EJEMPLO
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}

*****************************/
/************************
**************************
	Visually hide an element
http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
*****************************/
.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

body {
  font-family: "Neue Haas Unica W01 Regular", "Arial", "Helvetica", sans-serif;
  background: #fff;
  color: #0D1023;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.46; }

html {
  height: 100%; }

a {
  text-decoration: none;
  color: #0D1023; }
  a:hover {
    color: #39D7EF; }

.row {
  max-width: 1000px;
  margin: 0 auto; }

.responsive-image {
  max-width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-centered {
  text-align: center; }

small {
  font-size: 70%; }

.item-centered {
  display: block;
  margin: 0 auto;
  float: none; }

.hide {
  display: none; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed, .embed-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*****************************

		TEXTOS

******************************/
.main-title {
  margin: 10px 0;
  text-align: center;
  font-family: "Neue Haas Unica W01 Thin"; }
  .main-title span {
    color: #39D7EF; }

.text-centered {
  text-align: center; }

@media only screen and (max-width: 30em) {
  p {
    font-size: 13px; } }

h1 {
  font-size: 24px;
  font-family: "Neue Haas Unica W01 Medium It"; }
  @media only screen and (max-width: 30em) {
    h1 {
      font-size: 22px; } }

h2 {
  font-size: 21px;
  font-family: "Neue Haas Unica W01 Thin"; }
  @media only screen and (max-width: 30em) {
    h2 {
      font-size: 15px; } }

h3 {
  font-size: 16px; }
  @media only screen and (max-width: 30em) {
    h3 {
      font-size: 14px; } }

h4 {
  font-size: 18px; }
  @media only screen and (max-width: 30em) {
    h4 {
      font-size: 15px; } }

/*****************************

		Modal
******************************/
.modal-content {
  background: #0D1023; }
  .modal-content .modal-title {
    text-align: center; }
  .modal-content .modal-body {
    font-size: 80%; }

.modal-terminos-txt ul {
  padding-left: 25px; }

.modal-terminos-txt p {
  padding-bottom: 7px; }
  .modal-terminos-txt p strong {
    font-family: "Neue Haas Unica W01 Medium It"; }

/*****************************

		Sponsors

******************************/
/*****************************

		footer

******************************/
/*****************************

		extras

******************************/
body {
  background: url("../../images/14febrero_bg.jpg") repeat bottom center;
  background-size: cover; }

/* Preloader */
#preloader {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  /* makes sure it stays on top */
  padding-top: 50px; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally on the screen */
  top: 50%;
  /* centers the loading animation vertically on the screen */
  background-image: url(../../images/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

.the-content, .the-content-big {
  max-width: 500px;
  background: green;
  margin-top: 20px;
  text-align: center;
  padding: 0 20px; }

.the-content-big {
  max-width: 700px;
  background: none; }

.Aligner {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  justify-content: center; }

.Aligner-item {
  flex: 1; }

.Aligner-item--top {
  align-self: flex-start;
  flex: none;
  /* 2 */ }

.Aligner-item--bottom {
  align-self: flex-end;
  width: 100%;
  flex: none;
  /* 2 */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px; }
  .Aligner-item--bottom p {
    font-size: 80%; }

.Aligner-item--fixed {
  flex: none; }

/*****************
	header

******************/
header {
  width: 100%;
  position: relative;
  max-height: 80px;
  background: #0D1023;
  text-align: center; }
  header .logo-container {
    max-width: 480px;
    padding: 20px; }

.btn-main {
  background-color: #007EC8;
  color: #fff;
  min-width: 200px;
  padding: 15px;
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block; }
  .btn-main span {
    border-right: 1px solid #fff;
    padding-right: 4px;
    margin-right: 4px;
    height: 20px;
    display: inline-block;
    width: 30px;
    float: left; }
  .btn-main strong {
    display: inline-block;
    float: left;
    width: 160px;
    text-align: center; }
  @media only screen and (max-width: 30em) {
    .btn-main {
      display: block;
      margin: 10px auto; } }
  .btn-main:hover {
    color: #fff;
    text-decoration: none; }
  .btn-main:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 70%;
    opacity: 0;
    top: -2.5px; }
  .btn-main:hover:before {
    left: 85%;
    opacity: 1; }
  .btn-main span {
    font-family: Arial, Helvetica;
    letter-spacing: 0px; }

.link-basic:hover {
  color: #39D7EF; }

.social-icon {
  float: left;
  height: 20px;
  padding-left: 10%; }

.close {
  color: #fff;
  opacity: 1; }

#btn-logout {
  background: #39D7EF;
  font-size: 12px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left: 100px;
  bottom: 0px;
  z-index: 55; }
  @media only screen and (max-width: 30em) {
    #btn-logout {
      font-size: 10px; } }

.button-share {
  text-align: center; }
  .button-share .btn-main {
    height: 50px;
    padding: 5px 15px;
    line-height: 35px; }
  .button-share .social-icon {
    margin-top: 7px;
    padding-right: 10px; }

form input[type="text"], form input[type="email"], form textarea {
  width: 100%;
  color: #0D1023;
  border-radius: 4px;
  background: #f1f1f1;
  border: 0;
  padding: 5px; }

form textarea {
  resize: vertical;
  min-height: 80px; }

form .parsley-error {
  border: 1px solid #FF0000; }

form label {
  width: 100%; }

form .small {
  font-size: 80%; }
  form .small a {
    text-decoration: underline; }
    form .small a:hover {
      color: #39D7EF; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0D1023;
  opacity: 1; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #0D1023;
  opacity: 1; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #0D1023;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #0D1023;
  opacity: 1; }

.avatar-content {
  text-align: center;
  padding-bottom: 10px; }
  .avatar-content h1 {
    color: #0D1023;
    font-weight: bold;
    font-size: 14px; }
  .avatar-content .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    border-radius: 50%; }
    .avatar-content .avatar img {
      width: 100%; }

/***********
            Validaciones
***************************/
input.parsley-success, select.parsley-success, textarea.parsley-success, .alert-success, .alert-advice, .alert-advice1, .alert-advice3, .alert-message, .alert-message2 {
  color: #fff;
  background-color: #19D2AD;
  border: 0;
  border-radius: 0; }

input.parsley-error h2, select.parsley-error h2, textarea.parsley-error h2, .alert-danger h2 {
  font-family: "Neue Haas Unica W01 Medium It"; }

input.parsley-error p, select.parsley-error p, textarea.parsley-error p, .alert-danger p {
  font-size: 14px !important; }

.alert-success, .alert-danger, .alert-advice, .alert-advice1, .alert-advice3, .alert-message, .alert-message2 {
  text-align: center; }

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in; }
  .parsley-errors-list.filled {
    opacity: 1;
    z-index: 500;
    position: relative;
    padding: 5px;
    color: #FF0000;
    text-align: left; }

li.parsley-required {
  display: block;
  width: 100%;
  height: 30px;
  background: #81F7F3;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #0B615E;
  padding: 5px;
  border: 2px solid #01DFD7;
  position: absolute;
  z-index: 800; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box; }

.col-span-7 {
  flex-basis: 58.3333%; }

.col-span-2 {
  flex-basis: 16.6666%; }

.container-form {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap; }

[class*="box--"] {
  display: flex;
  margin: .5rem;
  background: white;
  border-bottom: 3px solid #dedfdf; }

.box--full {
  flex: 1 1 100%;
  flex-flow: column;
  padding: 1rem;
  border-radius: 4px; }

.box--half {
  flex: 1 1 30%;
  flex-flow: column;
  padding: 1rem;
  border-radius: 4px;
  flex-shrink: 1;
  flex-basis: 180px; }

@media all and (max-width: 568px) {
  .col-span-2 {
    flex-basis: 50%; }
  .col-span-6,
  .col-span-7 {
    flex-basis: 100%; } }

input[type=submit] {
  appearance: none; }

input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="url"],
textarea {
  font-size: 1em;
  width: 100%;
  color: #0D1023;
  font-family: Arial, Helvetica, sans-serif; }

label {
  color: #BF060D;
  font-size: .85em;
  font-weight: bold; }

select {
  font-size: 1.3em;
  height: 2.1rem;
  line-height: 1.5em;
  width: 100%;
  margin-top: .25rem;
  background: transparent; }
  select:hover {
    cursor: pointer; }

input,
select {
  border: none;
  padding-top: .5rem;
  padding-bottom: .5rem; }

textarea:focus,
input:focus {
  outline: none; }

input.send-btn.guardar {
  border: 0;
  background: url("../images/ok.png") center center;
  width: 24px;
  height: 24px;
  cursor: pointer; }

input.send-btn.eliminar {
  border: 0;
  background: url("../images/trash.png") center center;
  width: 24px;
  height: 24px;
  cursor: pointer; }

input.send-btn.rechazar {
  border: 0;
  background: url("../images/delete.png") center center;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.show {
  display: block; }

[data-tooltip], .tooltip {
  position: relative;
  cursor: pointer; }

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "alpha(Opacity=0)";
  filter: progid:dximagetransform.microsoft.alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after {
  visibility: visible;
  -ms-filter: "alpha(Opacity=100)";
  filter: progid:dximagetransform.microsoft.alpha(Opacity=100);
  opacity: 1; }

.tooltip:before, [data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

.tooltip:after, [data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 120px;
  background-color: #1783ff;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2; }

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after, .tooltip-top:before, .tooltip-top:after {
  bottom: 100%;
  left: 50%; }

[data-tooltip]:before, .tooltip:before, .tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #1783ff; }

[data-tooltip]:after, .tooltip:after, .tooltip-top:after {
  margin-left: -55px; }

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip-top:hover:before, .tooltip-top:hover:after, .tooltip-top:focus:before, .tooltip-top:focus:after {
  -webkit-transform: translatey(-12px);
  -moz-transform: translatey(-12px);
  transform: translatey(-12px); }

.tooltip-bottom:before, .tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #1783ff; }

.tooltip-bottom:hover:before, .tooltip-bottom:hover:after, .tooltip-bottom:focus:before, .tooltip-bottom:focus:after {
  -webkit-transform: translatey(12px);
  -moz-transform: translatey(12px);
  transform: translatey(12px); }
